:root {
    --cellSize : 30px;
    margin: 0px;
    border: 0px;
}
#gameMap {
    align-items: flex-start;
    align-content: initial;
}
#row {
    display: flex;
    flex-direction: row;
}

#block {
    display: flex;
    background-color: blue;
    height: 30px;
    width: 30px;
    border: 1px solid black;
}


#row #block.wall {
    background-color: gray;
}

#row .empty {
    background-color: white;
}

#row .player {
    background-color: green;
}

#row .finish {
    background-color: gold;
}

#row .emptyStore {
    background-color: red;
}

#row .fullStore {
    background-color: gold;
}

#row .empty.box {
    background-color: brown;
}

#row .emptyStore.player {
    background-color: blue;
}